* {
    padding: 0;
    margin: 0;
  }

  section {
    width: 150px;
    height: 150px;
    background: teal;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media screen and (max-width: 600px) {
   main {
    display: block;
   }

   section {
    width: 100%;
    margin: 2px 0;
   }
}

   /* Essa media é usada para desktop, tablet ou mobile, cada tela com um valor diferente; Os tipos de media podem ser screen, print, speech ou all.
   
   Screen - Telas ou todos que não são considerados print ou speech;
   Print - Dispositivos de impressão (e visualização de impressão no browser);
   Speech - Sintetizadores de fala;
   All - Todos os dispositivos.*/